body {
  background-color: #4882f4;
}
.App {
  justify-content: center;
  align-content: center;
}

.white {
  color: white;
}
.h1-white {
  font-size: 5vw;
  font-weight: bold;
  color: white;
}
.h3-white {
  font-size: 3.5vw;
  font-weight: bold;
  color: white;
}
.pt-5 {
  padding-top: 3rem;
}
.label {
  font-size: 3vw;
  font-weight: bold;
  color: white;
  white-space: initial;
}
.Row {
  display: table;

  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}
.tex-center {
  text-align: center;
  align-items: center;
}

.wrapper {
  display: grid;

  grid-template-columns: 30% 60%;
}

.size-img {
  height: 15vw;
}

.text-start {
  text-align: start !important;
}
.text-bold {
  font-weight: bold;
}
.text-pokemon {
  font-size: 2vw;
}
@media (max-width: 425px) {
  .text-pokemon {
    font-size: 3vw;
  }
  .size-img {
    min-height: 30vw !important;
  }
}
